<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des rôles</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des rôles</h1>

        <table>
            <thead>
            <tr>
                <th>Rôle</th>
                <th>Détail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roles}">
                <td th:text="${role.role}">admin</td>
                <td>
                    <a th:href="@{/roles/{id}(id=${role.id})}">Voir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
